@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');
h1.nice {
    font-family: 'Lobster', cursive;
    color: white;
}

.register-page {
    padding-top: 10%;
    border-top: 5px solid white;
    padding-left: 40% !important;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.register-center {
    padding-right: 30;
}

label {
    color: white;
}