<div class="login-page">
    <div class="loginForm ">
        <h1>Login</h1>
        <form method="POST">
            <div class="form-group has-feedback">
                <input id="email " name="email " type="email" placeholder="Correo " class="form-control form-input" required=" " [(ngModel)]="user.email">
                <label for="">correo</label>
                <span class="glyphicon form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="password " name="password " type="password" placeholder="Contraseña " class="form-control form-input" required=" " [(ngModel)]="user.password">
                <label for="">contraseña</label>
                <span class="glyphicon form-control-feedback"></span>
            </div>
        </form>
        <div class="form-inline">
            <div class="form-group pull-right">
                <label class="loginPwReset">
                    <a href="#">Olvido su contraseña ?</a>
                </label>
            </div>
        </div>
        <button *ngIf="!userService.isUserLoggedIn()" id="submit" type="submit" class="btn btn-default submit" value="Login" (click)="login()">Login</button>
        <button *ngIf="userService.isUserLoggedIn()" id="submit" type="submit" class="btn btn-default submit" value="Logout" (click)="logout()">Logout</button>
        <div class="form-inline">
            <div class="form-group pull-right">
                <label class="loginPwReset">
                    <p>Crear cuenta nueva </p>
                </label>
            </div>
        </div>
        <button (click)="openRegister()" id="submit" type="submit" class="btn btn-default submit" value="Login">Crear</button>
    </div>
</div>